<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传页面</title>
</head>
<body>

<!--
    1.文件上传的表单
        提交方式必须为post :  GET - 从指定的资源请求数据。 POST - 向指定的资源提交要被处理的数据。
        enctype属性必须为multipart/form-data
        指定action请求路径
    2.文件上传框
        input标签type为file
        input标签的name属性和后台接收的参数(MultipartFile)必须一致
    3.提交按钮
-->
<h1>---FastDFS文件上传操作---</h1>
<form action="/uploadFile" method="post" enctype="multipart/form-data">
    <br/>
    <input type="file" name="uploadFile">
    <br/><br/>
    <input type="submit" value="上传">
</form>

<hr>
<button onclick="window.location.href='/downloadFile2Local?groupName=group1&remoteFileName=M00/00/00/wKhAgGRTWEqAcb6YAAddqElD6Pc236.jpg&localFileName=C:/Users/yanyu/Desktop/ans'">文件下载到本地</button>
<br/><br/>
<button onclick="window.location.href='/downloadFile2Local?groupName=group1&remoteFileName=M00/00/00/wKhAgGRTWEqAcb6YAAddqElD6Pc236.jpg'">文件下载到本地</button>
<br/><br/>
<button onclick="window.location.href='/downloadFile2Client?groupName=group1&remoteFileName=M00/00/00/wKhAgGRTWEqAcb6YAAddqElD6Pc236.jpg'">文件下载到浏览器</button>
<br/><br/>
<hr>
<button onclick="window.location.href='/deleteFile?groupName=group1&remoteFileName=M00/00/00/wKhAgGRTWEqAcb6YAAddqElD6Pc236.jpg'">删除远程文件</button>
<br/>
<hr>
<br/>
<br/>
<h1>---七牛云文件上传操作---</h1>
<hr>
<button onclick="window.location.href='/qiniuUpload1'">上传文件-七牛云-hello</button>
<hr>
<form action="/qiniuUpload2" method="post" enctype="multipart/form-data">
    <br/>
    <input type="file" name="uploadFile">
    <br/>
    <br/>
    <input type="submit" value="上传">
</form>

</body>
</html>